esp32-mqtt-project.json
[{"id":"e74e8cb6.dfa0b","type":"tab","label":"ESP32","disabled":false,"info":""},{"id":"fc6c2ad3.adcf18","type":"mqtt in","z":"e74e8cb6.dfa0b","name":"","topic":"esp32/dht/temperature","qos":"1","datatype":"auto","broker":"8db3fac0.99dd48","x":140,"y":180,"wires":[["ee2feec4.d650b","d775c6fe.437b18","8222c192.17835","655a5815.c16588"]]},{"id":"b6821d14.35554","type":"ui_gauge","z":"e74e8cb6.dfa0b","name":"Humidity","group":"8b442baa.ec6ba8","order":3,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":280,"wires":[]},{"id":"8222c192.17835","type":"ui_chart","z":"e74e8cb6.dfa0b","name":"Temperature Chart","group":"e6dcdbb4.b53bd8","order":1,"width":"18","height":"8","label":"Temperature/Hudmidity","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"15","ymax":"90","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#2b7de9","#df1616","#cd6f1d","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":160,"wires":[[]]},{"id":"5abb1adc.dcfd34","type":"sqlite","z":"e74e8cb6.dfa0b","mydb":"dd82e755.e37c78","sqlquery":"msg.topic","sql":"","name":"ESP32","x":990,"y":220,"wires":[["aed322fc.8b901"]]},{"id":"f7d61312.5456f","type":"ui_button","z":"e74e8cb6.dfa0b","name":"","group":"646d7f5.973208","order":4,"width":0,"height":0,"passthru":false,"label":"submit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":500,"wires":[["d665b362.3e584"]]},{"id":"8571f137.44a0c","type":"ui_date_picker","z":"e74e8cb6.dfa0b","name":"","label":"Date","group":"646d7f5.973208","order":3,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":460,"wires":[["d665b362.3e584"]]},{"id":"d665b362.3e584","type":"function","z":"e74e8cb6.dfa0b","d":true,"name":"choose date","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":460,"wires":[["dbef861c.4efea8"]]},{"id":"6abc866.99f0878","type":"debug","z":"e74e8cb6.dfa0b","name":"HUMIDITY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":320,"wires":[]},{"id":"aed322fc.8b901","type":"debug","z":"e74e8cb6.dfa0b","name":"DATABASE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":220,"wires":[]},{"id":"d775c6fe.437b18","type":"debug","z":"e74e8cb6.dfa0b","name":"TEMPERATURE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":100,"wires":[]},{"id":"9ed0f3.6f714f1","type":"join","z":"e74e8cb6.dfa0b","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":220,"wires":[["2905a9fe.b4a256","504ab6f4.536bb8"]]},{"id":"2905a9fe.b4a256","type":"function","z":"e74e8cb6.dfa0b","name":"INSERT INTO","func":"var humid=msg.payload.humid;\nvar temp=msg.payload.temp;\nvar msg={\"topic\": \"INSERT INTO esp32 (temp, humid) VALUES (\" +temp+ \", \" + humid +\")\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":220,"wires":[["5abb1adc.dcfd34","1f15749c.9dea6b"]]},{"id":"504ab6f4.536bb8","type":"debug","z":"e74e8cb6.dfa0b","name":"JOIN NODE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":160,"wires":[]},{"id":"e8cdd523.1d1f58","type":"random","z":"e74e8cb6.dfa0b","name":"rand humid","low":"50","high":"60","inte":"true","property":"payload","x":350,"y":620,"wires":[["f710a27f.23409","457f542f.c4b58c"]]},{"id":"cdedc2eb.080cc","type":"random","z":"e74e8cb6.dfa0b","name":"rand temp","low":"25","high":"28","inte":"true","property":"payload","x":340,"y":660,"wires":[["86a0094c.4f09c8","c193be04.d7717"]]},{"id":"5702c41.9ae223c","type":"inject","z":"e74e8cb6.dfa0b","name":"5 Min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"feuchte","payload":"true","payloadType":"bool","x":150,"y":620,"wires":[["e8cdd523.1d1f58","93589c2f.d50fe","cdedc2eb.080cc"]]},{"id":"f710a27f.23409","type":"debug","z":"e74e8cb6.dfa0b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":620,"wires":[]},{"id":"86a0094c.4f09c8","type":"debug","z":"e74e8cb6.dfa0b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":660,"wires":[]},{"id":"457f542f.c4b58c","type":"mqtt out","z":"e74e8cb6.dfa0b","name":"Humid","topic":"esp32/dht/humidity","qos":"1","retain":"false","broker":"8db3fac0.99dd48","x":530,"y":560,"wires":[]},{"id":"c193be04.d7717","type":"mqtt out","z":"e74e8cb6.dfa0b","name":"Temperatur","topic":"esp32/dht/temperature","qos":"1","retain":"false","broker":"8db3fac0.99dd48","x":550,"y":720,"wires":[]},{"id":"93589c2f.d50fe","type":"debug","z":"e74e8cb6.dfa0b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":580,"wires":[]},{"id":"1f15749c.9dea6b","type":"debug","z":"e74e8cb6.dfa0b","name":"INSERT TO","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":160,"wires":[]},{"id":"ee2feec4.d650b","type":"function","z":"e74e8cb6.dfa0b","name":"shorten topic","func":"if (msg.topic === \"esp32/dht/temperature\") {\n    msg.topic=\"temp\";\n    return [ null, msg ];\n}\nif (msg.topic === \"esp32/dht/humidity\"){\n    msg.topic=\"humid\";\n    return [ msg, null ];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":410,"y":220,"wires":[["9ed0f3.6f714f1"],["9ed0f3.6f714f1"]]},{"id":"81e6dee2.36915","type":"mqtt in","z":"e74e8cb6.dfa0b","name":"","topic":"esp32/dht/humidity","qos":"1","datatype":"auto","broker":"8db3fac0.99dd48","x":130,"y":260,"wires":[["b6821d14.35554","6abc866.99f0878","ee2feec4.d650b","8222c192.17835"]]},{"id":"655a5815.c16588","type":"ui_gauge","z":"e74e8cb6.dfa0b","name":"","group":"8b442baa.ec6ba8","order":1,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"15","max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":60,"wires":[]},{"id":"ff6feae9.86c718","type":"ui_template","z":"e74e8cb6.dfa0b","group":"646d7f5.973208","name":"Table","order":1,"width":"12","height":"6","format":"<table style=\"width:100%\", border = \"2\">\n  <tr>\n    <th>Index</th>\n    <th>Temperature</th> \n    <th>Humidity</th>\n    <th>Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:100\">\n    <td>{{$index+1}}</td>\n    <td>{{msg.payload[$index].temp}}</td> \n    <td>{{msg.payload[$index].humid}}</td>\n    <td>{{msg.payload[$index].Timestamp}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":400,"wires":[[]]},{"id":"4db436ec.01c308","type":"comment","z":"e74e8cb6.dfa0b","name":"Sensor_Simulator","info":"","x":130,"y":580,"wires":[]},{"id":"e30edeba.2e431","type":"inject","z":"e74e8cb6.dfa0b","name":"5 Min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM ESP32 ORDER BY TIMESTAMP DESC LIMIT 100;","payload":"true","payloadType":"bool","x":330,"y":420,"wires":[["dbef861c.4efea8"]]},{"id":"dbef861c.4efea8","type":"sqlite","z":"e74e8cb6.dfa0b","mydb":"dd82e755.e37c78","sqlquery":"msg.topic","sql":"","name":"ESP32","x":510,"y":440,"wires":[["ff6feae9.86c718","9eadb5d1.e81fb8"]]},{"id":"9eadb5d1.e81fb8","type":"csv","z":"e74e8cb6.dfa0b","name":"","sep":"\\t","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"id,temp,humid,Timestamp","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":690,"y":480,"wires":[["80e5068c.866498","8fca2bc5.3afd58"]]},{"id":"80e5068c.866498","type":"file","z":"e74e8cb6.dfa0b","name":"","filename":"/home/pi/esp32.dat","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":870,"y":500,"wires":[[]]},{"id":"8fca2bc5.3afd58","type":"debug","z":"e74e8cb6.dfa0b","name":"ESP32.LOG","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":460,"wires":[]},{"id":"ae7a02f5.5024e","type":"comment","z":"e74e8cb6.dfa0b","name":"Read_Database","info":"","x":120,"y":420,"wires":[]},{"id":"c17b5779.1e96b8","type":"comment","z":"e74e8cb6.dfa0b","name":"Write_Database","info":"","x":120,"y":140,"wires":[]},{"id":"8db3fac0.99dd48","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8b442baa.ec6ba8","type":"ui_group","name":"Gauges","tab":"bed77037.766c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"e6dcdbb4.b53bd8","type":"ui_group","name":"Charts","tab":"bed77037.766c4","order":3,"disp":true,"width":"18","collapse":false},{"id":"dd82e755.e37c78","type":"sqlitedb","db":"/home/pi/esp32.db","mode":"RWC"},{"id":"646d7f5.973208","type":"ui_group","name":"Table","tab":"bed77037.766c4","order":2,"disp":true,"width":"12","collapse":false},{"id":"bed77037.766c4","type":"ui_tab","name":"ESP32","icon":"dashboard","order":1,"disabled":false,"hidden":false}]