esp32_dht12.json
[{"id":"9e283e46.71ff58","type":"tab","label":"ESP32","disabled":false,"info":""},{"id":"fc461e90.3dfc38","type":"mqtt in","z":"9e283e46.71ff58","name":"","topic":"esp32/dht/temperature","qos":"1","datatype":"auto","broker":"84356ccb.7fa998","x":140,"y":120,"wires":[["ad5fef30.2ae8a8","448dc1f6.9e2ba","eab7c38a.dd9c6"]]},{"id":"6f7e8d10.ce40cc","type":"ui_gauge","z":"9e283e46.71ff58","name":"Humidity","group":"495f7c8.770d304","order":3,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":200,"wires":[]},{"id":"bb69de8c.c897d8","type":"sqlite","z":"9e283e46.71ff58","mydb":"ef75c223.77c6b","sqlquery":"msg.topic","sql":"","name":"ESP32","x":870,"y":160,"wires":[["71e99335.914454"]]},{"id":"21f0601a.86a4a8","type":"debug","z":"9e283e46.71ff58","name":"HUMIDITY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":240,"wires":[]},{"id":"71e99335.914454","type":"debug","z":"9e283e46.71ff58","name":"DATABASE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":160,"wires":[]},{"id":"448dc1f6.9e2ba","type":"debug","z":"9e283e46.71ff58","name":"TEMPERATURE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":120,"wires":[]},{"id":"6f26d7d8.5004b","type":"join","z":"9e283e46.71ff58","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":160,"wires":[["111b569e.2d3a69","746841ca.82b64"]]},{"id":"111b569e.2d3a69","type":"function","z":"9e283e46.71ff58","name":"INSERT INTO","func":"var humid=msg.payload.Humidity;\nvar temp=msg.payload.Temperature;\nvar msg={\"topic\": \"INSERT INTO dht (temp, humid,Timestamp) VALUES (\" +temp+ \", \" + humid +\", datetime('now','localtime'))\"};\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":160,"wires":[["bb69de8c.c897d8","98d2b0cc.cc6e7"]]},{"id":"746841ca.82b64","type":"debug","z":"9e283e46.71ff58","name":"JOIN NODE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":120,"wires":[]},{"id":"139530cb.f84767","type":"random","z":"9e283e46.71ff58","name":"rand humid","low":"38.8","high":"39.1","inte":"false","property":"payload","x":310,"y":520,"wires":[["3e1ad2d9.3a6656","a9effd51.3b6158"]]},{"id":"65bf4696.633448","type":"random","z":"9e283e46.71ff58","name":"rand temp","low":"21.8","high":"22.1","inte":"false","property":"payload","x":320,"y":560,"wires":[["90a6b38f.2ef998","dff2296f.8963a8"]]},{"id":"f6e6f870.d55e6","type":"inject","z":"9e283e46.71ff58","d":true,"name":"5 Min","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":520,"wires":[["139530cb.f84767","ce2babb4.7a4c7","65bf4696.633448"]]},{"id":"3e1ad2d9.3a6656","type":"debug","z":"9e283e46.71ff58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":520,"wires":[]},{"id":"90a6b38f.2ef998","type":"debug","z":"9e283e46.71ff58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":560,"wires":[]},{"id":"a9effd51.3b6158","type":"mqtt out","z":"9e283e46.71ff58","d":true,"name":"Humid","topic":"esp32/dht/humidity","qos":"1","retain":"false","broker":"84356ccb.7fa998","x":470,"y":480,"wires":[]},{"id":"dff2296f.8963a8","type":"mqtt out","z":"9e283e46.71ff58","d":true,"name":"Temperatur","topic":"esp32/dht/temperature","qos":"1","retain":"false","broker":"84356ccb.7fa998","x":490,"y":600,"wires":[]},{"id":"ce2babb4.7a4c7","type":"debug","z":"9e283e46.71ff58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":480,"wires":[]},{"id":"98d2b0cc.cc6e7","type":"debug","z":"9e283e46.71ff58","name":"INSERT TO","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":120,"wires":[]},{"id":"ad5fef30.2ae8a8","type":"function","z":"9e283e46.71ff58","name":"shorten topic","func":"if (msg.topic === \"esp32/dht/temperature\") {\n    msg.topic=\"Temperature\";\n    return [ null, msg ];\n}\nif (msg.topic === \"esp32/dht/humidity\"){\n    msg.topic=\"Humidity\";\n    return [ msg, null ];\n}\n","outputs":2,"noerr":0,"x":350,"y":160,"wires":[["6f26d7d8.5004b","4672ca66.8dc2dc"],["6f26d7d8.5004b","4672ca66.8dc2dc"]]},{"id":"bd934e98.65a62","type":"mqtt in","z":"9e283e46.71ff58","name":"","topic":"esp32/dht/humidity","qos":"1","datatype":"auto","broker":"84356ccb.7fa998","x":150,"y":200,"wires":[["6f7e8d10.ce40cc","21f0601a.86a4a8","ad5fef30.2ae8a8"]]},{"id":"eab7c38a.dd9c6","type":"ui_gauge","z":"9e283e46.71ff58","name":"","group":"495f7c8.770d304","order":1,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":80,"wires":[]},{"id":"806b467c.c575c8","type":"ui_template","z":"9e283e46.71ff58","group":"935b7cf6.43d1","name":"Table","order":1,"width":"12","height":"8","format":"<table style=\"width:100%\", border = \"2\">\n  <tr>\n    <th>Index</th>\n    <th>Temperature (°C)</th> \n    <th>Humidity (%)</th>\n    <th>Time</th>\n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:100\">\n    <td>{{$index+1}}</td>\n    <td>{{msg.payload[$index].temp}}</td> \n    <td>{{msg.payload[$index].humid}}</td>\n    <td>{{msg.payload[$index].Timestamp}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":410,"y":340,"wires":[[]]},{"id":"d1d74da3.a6ba1","type":"comment","z":"9e283e46.71ff58","name":"Sensor_Simulator","info":"","x":110,"y":480,"wires":[]},{"id":"eb0ee16d.f7b26","type":"sqlite","z":"9e283e46.71ff58","mydb":"ef75c223.77c6b","sqlquery":"msg.topic","sql":"","name":"ESP32","x":270,"y":380,"wires":[["806b467c.c575c8","b7397f1c.221848"]]},{"id":"b7397f1c.221848","type":"csv","z":"9e283e46.71ff58","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"id,temp,humid,Timestamp","skip":"0","strings":true,"x":410,"y":380,"wires":[["7f9d0911.8d99a8","3c3440bb.f3686"]]},{"id":"7f9d0911.8d99a8","type":"file","z":"9e283e46.71ff58","name":"","filename":"/home/pi/esp32.csv","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":610,"y":380,"wires":[[]]},{"id":"3c3440bb.f3686","type":"debug","z":"9e283e46.71ff58","name":"ESP32.LOG","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":340,"wires":[]},{"id":"43d57c59.2aba2c","type":"comment","z":"9e283e46.71ff58","name":"Read_Database","info":"","x":100,"y":340,"wires":[]},{"id":"2463488b.213bd","type":"comment","z":"9e283e46.71ff58","name":"Write_Database","info":"","x":100,"y":80,"wires":[]},{"id":"17e84b57.fbed05","type":"inject","z":"9e283e46.71ff58","name":"5 Min","topic":"SELECT * FROM dht ORDER BY TIMESTAMP DESC LIMIT 100;","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["eb0ee16d.f7b26"]]},{"id":"4672ca66.8dc2dc","type":"ui_chart","z":"9e283e46.71ff58","name":"","group":"b9b56692.5ed1f","order":1,"width":0,"height":0,"label":"Sensor DHT12","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"70","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#d50000","#0071e1","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":200,"wires":[[]]},{"id":"84356ccb.7fa998","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"495f7c8.770d304","type":"ui_group","name":"Gauges","tab":"ba2c8aea.08a218","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef75c223.77c6b","type":"sqlitedb","z":"","db":"/home/pi/dht.db","mode":"RW"},{"id":"935b7cf6.43d1","type":"ui_group","name":"Table","tab":"ba2c8aea.08a218","order":2,"disp":true,"width":"12","collapse":false},{"id":"b9b56692.5ed1f","type":"ui_group","name":"Charts","tab":"ba2c8aea.08a218","order":3,"disp":true,"width":"18","collapse":false},{"id":"ba2c8aea.08a218","type":"ui_tab","name":"ESP32","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
